* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_main-header.scss";
@import "_main-body.scss";
@import "_footer.scss";

@import "_main-contactenos.scss";

@import "_main-servicios.scss";

@import "_main-nosotros.scss";


/* Media Queries vista tablet */
@media screen and (max-width: 780px){
    .carousel-inner img {
        width: 100%;
        max-height: 500px;
    }
    .carousel-inner {
        height: 500px;
    }
}
@media screen and (max-width: 480px){
    .carousel-inner img {
        max-height: 300px;
    }
    .carousel-inner {
        height: 300px;
    }

}