* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@use "_variables.scss";

@use "_main-header.scss";
@use "_main-body.scss";
@use "_footer.scss";

@use "_main-contactenos.scss";

@use "_main-servicios.scss";

@use "_main-nosotros.scss";

@use "_responsive.scss";