* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "_main-header.scss";
@import "_main-body.scss";
@import "_footer.scss";

@import "_main-contactenos.scss";

@import "_main-servicios.scss";

@import "_main-nosotros.scss";

@import "_responsive.scss";